.vs/ 
.vs/
obj/
bin/

# Archivos de compilación
bin/
obj/

# Archivos de usuario y configuraciones de Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Paquetes y dependencias
packages/
*.nupkg
project.lock.json

# Configuraciones de depuración
launchSettings.json

# Archivos de publicación y deploy
publish/
app.publish/
# Logs y dumps
logs/
*.log
*.tlog
*.dmp

# Caché y archivos temporales
*.tmp
*.cache
*.ide
.DS_Store
Thumbs.db

# Archivos de Razor compilados
**/obj/**/*.razor.vs.bin
**/obj/**/*.razor.vs.json

# Configuración de Rider y JetBrains (si usas Rider)
.idea/
*.sln.iml

obj/
/wwwroot/img/Edificaciones/Pedregal.jpg
/wwwroot/img/Edificaciones/TeatroNacional.jpg
/wwwroot/img/Eventos/CamilaTour.jpg
/wwwroot/img/Edificaciones/ParqueViva.jpg
/wwwroot/img/Edificaciones/PalacioDeportes.jpg
/wwwroot/img/Edificaciones/EstadioNacional.jpg
/wwwroot/img/Edificaciones/ClubPeppers.jpg
/wwwroot/img/Eventos/Incubus.jpg
